<h1>MTA Service Status</h1>
<div class="row">

  <div class="col-md-6">
    <div id="main">
      <h3 class="service-heading">Subway:</h3>
      <% @subway_statuses.each do |line| %>
        <div class="box">
          <div id="<%=line[:status]%>" class="nyc-nyct-bullet nyc-nyct-<%=line[:name].downcase%>"> <%=line[:name]%> </div>
        </div>
      <% end %>
    </div>

    <hr>

    <div id="main">
      <h3 class="service-heading">Metro-North:</h3>
      <% @mnr_statuses.each do |line| %>
        <div class="box">
          <div id="<%=line[:status]%>" class="nyc-metro-north-bullet nyc-metro-north-<%=line[:name].gsub(/[^a-z0-9\-_]+/i, "-").downcase%>"> <%=line[:name]%> </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-6" style="float: right;">
    <div id="main">
      <h3 class="service-heading">LIRR:</h3>
      <% @lirr_statuses.each do |line| %>
        <div class="box">
          <div id="<%=line[:status]%>" class="nyc-lirr-bullet nyc-lirr-<%=line[:name].gsub(/[^a-z0-9\-_]+/i, "-").downcase%>"> <%=line[:name]%> </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
