<h1>NYC Board</h1>

<div id="main">
  <% @letter_line_statuses.each do |line| %>
    <div class="box">
      <div id="<%=line[:status]%>" class="mta-bullet mta-<%=line[:name].downcase%>"> <%=line[:name]%> </div>
    </div>
  <% end %>
</div>

<br>

<div id="main">
  <% @number_line_statuses.each do |line| %>
    <div class="box">
      <div id="<%=line[:status]%>" class="mta-bullet mta-<%=line[:name].downcase%>"> <%=line[:name]%> </div>
    </div>
  <% end %>
</div>

<hr>
